<style>
  .list-group-item {
   border-radius: 15px;
   text-align:center;
}
</style>

   <!--MENU-->
   <div class = "col-sm-2">
    <div class="card-transparent">
      <div class="card-header"  style="border: 5px solid; border-color: rgb(0, 163, 35);border-radius: 15px;text-align:center; font-size: large;">
       <b>MENU</b> 
      </div>
      <ul class="list-group list-group-flush bg-transparent " style="background-color: rgba(0,0,0,.3)" ></ul>
      
      {% if request.user.is_authenticated %}
        <li class="list-group-item mt-3  bg-transparent"  style="border: 5px solid; border-color: rgb(0, 163, 35);"><a href="{% url 'change-password' %}" style="color: rgb(0, 0, 0);">Change Password</a> </li>
        <li class="list-group-item mt-3  bg-transparent"  style="border: 5px solid; border-color: rgb(0, 163, 35);"><a href="{% url 'myBooks' %}" style="color: rgb(0, 0, 0);">My Books</a></li> 
        {% if request.user.groups.all.0.name == 'officer' or request.user.groups.all.0.name == 'admin' %}
        <li class="list-group-item mt-3  bg-transparent"  style="border: 5px solid; border-color: rgb(0, 163, 35);"><a href="{% url 'add-book' %}" style="color: rgb(0, 0, 0);">Add Book</a></li>
        {% else %}
        <li class="list-group-item mt-3  bg-transparent"  style="border: 5px solid; border-color: rgb(0, 163, 35);"><a href="{% url 'contact' %}" style="color: rgb(0, 0, 0);">Contact</a></li>
        {% endif %}
        <li class="list-group-item mt-3  bg-transparent"  style="border: 5px solid; border-color: rgb(0, 163, 35);border-radius: 15px;"> <a href="{% url 'exit' %}" style="color: rgb(0, 0, 0);">Exit</a> </li> 

        {% endif %} 
        
          


      </ul>
 
    </div>  
  </div>
  