


   <!--MENU-->
   <div class = "col-sm-3">
    <div class="card">
      <div class="card-header">
        MENÜ
      </div>
      <ul class="list-group list-group-flush"></ul>
      
      {% if request.user.is_authenticated %}
        <li class="list-group-item"><a href="#">Profili Düzenle</a></li>
        <li class="list-group-item"><a href="#">Şifre Değiştir</a> </li>
        <li class="list-group-item"><a href="{% url 'myBooks' %}">Yazılarım</a></li> 
        <li class="list-group-item"><a href="#">Yazı Ekle</a></li>
        <li class="list-group-item"><a href="#">İletişim</a></li>
        <li class="list-group-item"> <a href="#">Hakkında</a> </li>
        <li class="list-group-item"> <a href="#">Çıkış Yap</a> </li> 
        
        {% else %}
        <li class="list-group-item"> <a href="#">Giriş Yap</a> </li>
        <li class="list-group-item"> <a href="#">Kayıt Ol</a> </li>
       
        <li class="list-group-item"> <a href="#">Hakkında</a> </li>
       
        {% endif %}


      </ul>
 
    </div>  
  </div>
  