


   <!--MENU-->
   <div class = "col-sm-3">
    <div class="card">
      <div class="card-header">
        MENÜ
      </div>
      <ul class="list-group list-group-flush"></ul>
      
      {% if request.user.is_authenticated %}
        <li class="list-group-item"><a href="{% url 'change-password' %}">Şifre Değiştir</a> </li>
        <li class="list-group-item"><a href="{% url 'myBooks' %}">My Books</a></li> 
        {% if request.user.groups.all.0.name == 'admin' %}
        <li class="list-group-item"><a href="{% url 'add-book' %}">Add Book</a></li>
        {% endif %}
        <li class="list-group-item"> <a href="{% url 'exit' %}">Exit</a> </li> 

        {% endif %} 
        
          


      </ul>
 
    </div>  
  </div>
  